{# app/Resources/views/experiment/form.html.twig #}
{% extends new ? "experiment/new.html.twig" : "experiment/edit.html.twig"%}
{% block body %}
		{{ form_start(form) }}
            {% do form.sampleNums.setRendered %}
            {% do form.rnaseqs.setRendered %}
            {% do form.dnaseqs.setRendered %}
			{{ form_errors(form) }}

    		{{ form_row(form.title) }}
            {{ form_label(form.sampleNums) }}
    		<div id="sampleNums-fields-list" data-prototype="{{ form_widget(form.sampleNums.vars.prototype)|e }}"></div>
        	{% for sampleNumsField in form.sampleNums %}
        		<div>
            		{{ form_errors(sampleNumsField) }}
            		{{ form_widget(sampleNumsField) }}
				</div>
    		{% endfor %}
    		<a href="#" id="add-another-sampleNum">Add another Sample Number</a>
    		{# The JS uses prototype to create new dynamic fields #}
    		{{ form_row(form.expType, { 'label' : 'Experiment Type', 'id' : 'expType_drop'}) }}
			<div class="rnaseqs" data-prototype="{{ form_widget(form.rnaseqs.vars.prototype)|e }}">
				{% for rnaseq in form.rnaseqs %}
                    <div class="exptype-form-div">
                        <h3>RNA Seq Experiment</h3>
            			{{ form_row(rnaseq.quality) }}
                        {{ form_row(rnaseq.ribodepleted) }}
                        {{ form_row(rnaseq.finalQuality) }}
                        {{ form_row(rnaseq.sampleNum) }}
                        {{ form_row(rnaseq.protocolUsed) }}
                        {{ form_row(rnaseq.step1) }}
                        {{ form_row(rnaseq.step1Result) }}
                        {{ form_row(rnaseq.serviceProvider) }}
                        {{ form_row(rnaseq.platform) }}
                        {{ form_row(rnaseq.dataFiles) }}
                        {{ form_row(rnaseq.pipeline) }}
                        {{ form_row(rnaseq.pipelineParameters) }}
                        {{ form_row(rnaseq.resultFiles) }}
                    </div>
    			{% endfor %}
			</div>
            <div class="dnaseqs" data-prototype="{{ form_widget(form.dnaseqs.vars.prototype)|e }}">
            {% for dnaseq in form.dnaseqs %}
                    <div class="exptype-form-div">
                        <h3>DNA Seq Experiment</h3>
                        {{ form_row(dnaseq.quality) }}
                    </div>
                {% endfor %}
            </div>
        	{{ form_widget(form.save) }}
            <a href="{{ path('experiment_index') }}" class="btn btn-danger">Cancel</a>
        {{ form_end(form) }}
{% endblock %}
