{# app/Resources/views/experiment/new.html.twig #}

<html>
    <head>
        {# ... #}
            <link href="{{ asset('css/Application.css') }}" rel="stylesheet" />
            <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    </head>
    <body>
        {# ... #}

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}

<div class="experiment-form-div">
{{ form_start(form) }}
	<h1>New Experiment</h1>
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
{{ form_end(form) }}
</div>
    </body>
</html>
